{{!< default}}

{{#contentFor 'htmlLang'}}{{@site.locale}}{{/contentFor}}

{{#contentFor 'meta'}}
    <link rel="alternate" type="application/rss+xml" title="Mindsers Blog - All English posts" href="{{@site.url}}/posts/rss/">
    <link rel="alternate" type="application/rss+xml" title="Mindsers Blog - All French posts" href="{{@site.url}}/fr/posts/rss/">
{{/contentFor}}

{{#contentFor 'styles'}}
    <link rel="stylesheet" type="text/css"  href="{{asset "css/home.css"}}" />
{{/contentFor}}

{{#contentFor 'title'}}{{meta_title}} - Coding and entrepreneurship{{/contentFor}}

<div class="mds-home">
    <header class="mds-header">
        <div class="mds-container">
            <div class="presentation">
                <h1 class="mds-title">{{@site.description}}</h1>
                <p>
                    Hundreds of ressources I created to share with you everything
                    I learned from coding to starting a business
                </p>
                {{#unless @member.paid}}
                    <p><a href="/membership/" class="button primary">Subscribe</a></p>
                {{/unless}}
            </div>
            <div class="illustration">
                {{> "images/developer"}}
            </div>
        </div>
    </header>

    <section class="mds-featured">
        <div class="mds-container">
        {{#get "posts" filter="featured:true" limit="2"}}
            {{#foreach posts}}
                {{> "card"}}
            {{/foreach}}
        {{/get}}
        </div>
    </section>




    </div>
</div>
